[Unit]
Description=Secure SSH based chat for %i
Wants=network.target
After=network.target

[Service]
ProtectSystem=true
Type=simple
User=%i

#Set configuration using environment
Environment=GOSSHA_PORT=27015

# Set one of possible database storages. We can use only one method

# Set database connection string for MySQL database
#Environment=GOSSHA_DRIVER=mysql 
#Environment=GOSSHA_CONNECTIONSTRING=user:password@localhost/dbname?charset=utf8&parseTime=True&loc=Local

# Set database connection string for PostgreSQL database
#Environment=GOSSHA_DRIVER=postgres 
#Environment=GOSSHA_CONNECTIONSTRING='user=gorm dbname=gorm sslmode=disable'
#We can use other connection string notation
#Environment=GOSSHA_CONNECTIONSTRING='postgres://pqgotest:password@localhost/pqgotest?sslmode=verify-full'

# Set database connection string for SQLite database
#Environment=GOSSHA_DRIVER=sqlite3
#ENV GOSSHA_CONNECTIONSTRING=':memory:'
#Environment=GOSSHA_CONNECTIONSTRING=/var/lib/gossha/gossha.db


ExecStart=/usr/bin/gossha
Restart=always

[Install]
WantedBy=multi-user.target
